<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financers-Login</title>
    <link rel="stylesheet" href="{% static '/login.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="help.html">Help</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="home.html">Home</a></li>
        </ul>
    </nav>
    <br>
    <center>
        <fieldset>
            <form method="post" action="wallet.html">
                {% csrf_token %}
                <img src="https://bit.ly/32WLgw0" alt="coin image" class="coin"><br>
                <input type="email" placeholder="username-email" name="username"><br>
                <input type="password" placeholder="password" name="password"><br>
                <input type="submit" value="login" class="btn">
            </form>
            <p>Don't Have an account then <a href="signup.html">Click here</a></p>
        </fieldset>
    </center>
</body>
</html>