{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainui</title>
    <link rel="stylesheet" href="{% static '/main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>

        <p id="user">Hello User</p>
 
        <p id="cal"><script src="{% static '/calender.js' %}"></script></p> 
        <div class="nav">
            <ul>
                <li>Home</li>
                <li>#</li>
                <li>#</li>
                <li>Help</li>
                <li>LogOut</li>
            </ul>
        </div>
    <div class="Calculation">
        <ul>
            <li>High : </li>
            <li>Low : </li>
            <li>Volume : </li>
        </ul>
    </div>
    <div class="chart">
        <canvas id="chart">
            <script src="{% static '/stock.js' %}"></script>
        </canvas>
    </div>
    <div class="btn">
        <a href="./login.html"><input type="button" value="Buy" id="buy-btn"></a>
        <a href="./login.html"><input type="button" value="Sell" id="sell-btn"></a>
        
    </div>
    
    <div class="suggestion">
        <ul>
            <li>Buy <progress value="54" max="100">54</progress></li>
            <li>Hold <progress value="34" max="100">54</progress></li>
            <li>Sell <progress value="75" max="100">54</progress></li>
        </ul>
    </div>
<!------------------------------->    
    <div class="wallet">
        
        <ul>
            <li><b>Top Gainers:</b></li>
            <li>TATA</li>
            <li>JIO</li>
            <li>TESALA</li>
            <li>META</li>
        </ul>
    </div>
<div class="compnay">
    <ul>
        <li><b>compnay</b></li>
        <li>Bank Of Baroda</li>
        <li>Paytm</li>
        <li>Reliance</li>
        <li>Tata Motors</li>
        <li>Vodafone Idea</li>
        <li>Yes Bank</li>
        <li>Jaiprakash Power</li>
    </ul>
</div>
<div class="news">
    Lorem ipsum dolor sit amet consectetur,<br>
     adipisicing elit. Mollitia explicabo quam suscipit culpa, <br>
     voluptatibus molestiae?
</div>
</body>
</html>