{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mainui</title>
        <link rel="stylesheet" href="{% static '/main.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

 
    </head>
    <body>
     <p id="user">Good Morning</p>
     <script>
         let val = document.getElementById('user')
         let newdate = new Date()
         if(newdate.getHours() >16 && newdate.getHours() <22)
            {
                val.innerHTML="Good Evening"
            } 
        else if(newdate.getHours()>12 && newdate.getHours()<16)
            {

                val.innerHTML="Good Afternoon"
            }
        else
            {
                val.innerHTML="Good Morning"
            }
     </script>
        
        <p id="cal"><script src="{% static '/calender.js' %}"></script></p>
        <div class="nav">
            <ul>
                <li>Home</li>
                <li>Main</li>
                <li>Help</li>
                <li>About</li>
            </ul>
        </div>
        <div class="Calculation">
            {% block content %}
                <ul>
                    <li>High :{{stock.high}} </li>
                    <li>Low : {{stock.low}}</li>
                    <li>Volume :{{stock.volume}} </li>
                </ul>
            {% endblock %}
        </div>
        <div class="chart">
            <canvas id="chart">
            <script src="{% static '/stock.js' %}"></script>
            </canvas>
        </div>
        <div class="btn">
            <a href="login.html"><input type="button" value="Buy" id="buy-btn"></a>
            <a href="login.html"><input type="button" value="Sell" id="sell-btn"></a>
            
        </div>
        
        <div class="suggestion">
            <ul>
                <li>Buy <progress id="buy" value="54" max="100">54</progress></li>
                <li>Hold <progress id="sell" value="34" max="100">54</progress></li>
                <li>Sell <progress id="hold" value="75" max="100">54</progress></li>
            </ul>
        </div>
        <!------------------------------->
        <div class="wallet">
            
            <ul>
                <li><b>Top Gainers:</b></li>
                <li>TATA</li>
                <li>JIO</li>
                <li>TESLA</li>
                <li>META</li>
            </ul>
        </div>
        <div class="compnay">
            <form method="POST" class="company-info">
                <h1>Company</h1>
                {% csrf_token %}
                <ul id="button">
                    <li><a href="main.html"><input type="submit" class="even" name="company" value="TCS" /></a></li>
                    <li> <a href="main.html"><input type="submit" class="odd" name="company" value="Wipro" /></a></li>
                    <li> <a href="main.html"><input type="submit" class="odd" name="company" value="Reliance" /></a></li>
                    <li><a href="main.html"><input type="submit" class="even" name="company" value="Tata Motors" /></a></li>
                    <li><a href="main.html"><input type="submit" class="odd" name="company" value="Infosys" /></a></li>
                    <li> <a href="main.html"><input type="submit" class="even" name="company" value="SBI" /></a></li> 
            </form>
        </div>
        <script>
        var data = JSON.parse("{{data|escapejs}}");
        var myChart = new Chart(document.getElementById("chart"), {
        type: "line",
        data: {
        labels: data["time"],
        datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "blue",
        borderColor: "rgb(23, 226, 33)",
        data: data["value"]
        }]
        },
        options: {
        legend: { display: false },
        scales: {
        yAxes: [{ ticks: { min: data["minval"], max: data["maxval"] } }],
        }
        }
        });
        var avg = (data["open"] + data["close"]) / 2;
        if (data["open"] > data["close"]) {
        document.getElementById("sell").value = avg * 0.50;
        }
        if (data["open"] < data["close"]) {
        document.getElementById("buy").value = avg * 0.40;
        }
        if ((data["open"] - data["close"]) < 30 && (data["open"] - data["close"]) > 0) {
        document.getElementById("hold").value = avg * 0.30;
        }
        </script>
    </body>
</html>