*{
    margin:0;
    list-style:none;
    box-sizing: border-box;
}

.container{

    height : 100vh;
    width:100vw;

    display:flex;
/* background:violet; */


}
ul{
    height : 95vh;
    padding-top: 10vh;
    /* margin-left: 1rem; */
    background-color: #fafafae0;
    padding-bottom:10vh;
}

.Nav ul{

    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    box-shadow: 5px 5px 10px #ccc;
}
.pie{

    display:flex;
    justify-content:center;
    align-items: center;

    flex-direction: column;

    width:300px;
    height:300px;
    margin-top:2rem;
    padding:1rem;
    /* background-color: red; */
    overflow: none;
    margin-left: 100px;
    box-shadow: 5px 5px 10px #ccc;


}
.pie canvas{

    width:100px;
    height:100px;
    margin-left: 100px;
   

    /* background:blue; */
    

   
}


.advs{

    padding:1rem;
    
    height:40vh;
    box-shadow: 5px 5px 10px #ccc;
}


.nav-section{
/* background:blue; */
    height : 100vh;
    flex:1;
}
.area1{
    height : 100vh;
    width:50%;
    flex:3;
    /* background:purple; */
    box-shadow: 5px 5px 10px #ccc;
}
.area2{

    box-shadow: 5px 5px 10px #ccc;
   
    height : 100vh;
    width:30%;
    flex:3;
}