*{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    list-style-type:none;
    border-style: none;
    
   
    
}
body{
    background-color:#EEEEEE;
    color:#1C658C;
}
#user{
    border:1px solid;
    width: 250px;
    height:30px;
    border-radius: 7px;
    padding:7px;
    margin-top:10px;
    text-align: center;
    box-shadow: 5px 5px 10px #ccc;
}
.nav
{
    border:1px solid;
    width:150px;
    height:450px;
    margin-top:13px;
    border-radius: 7px;
    padding:7px;
    box-shadow: 5px 5px 10px #ccc;
    background-color:rgba(45,79,117,255);
    color:rgb(211,196,151);
    
}
.nav ul li
{
    padding:10px;
    margin-top: 15px;
   
}
.nav ul li:hover
{
    background-color:#000000;
    border-radius: 7px;
}
#cal
{
    border:1px solid;
    width: 590px;
    border-radius: 7px;
    padding:7px;
    text-align: center;
    margin-left: 270px;
    margin-top:-39px;
    padding:7px;
    box-shadow: 5px 5px 10px #ccc;
    background-color:rgba(45,79,117,255);
    color:rgb(211,196,151);
}
/*-----------------Top Gainers-------------------------------------*/
.wallet
{
    margin-left:66%;
    border:1px solid;
    margin-top:-48.5%;
    border-radius: 7px;
    height:250px;
    padding:7px;
    box-shadow: 5px 5px 10px #ccc;
    background-color:rgba(45,79,117,255);
    color:rgb(211,196,151);

}
.wallet ul li
{
    padding:10px;
    margin-top: 15px;
    text-align: center;
}
/*------------------High low and volume -----------------------------*/
.Calculation
{
    border:1px solid;
    margin-left: 18%;
    width:550px;
    margin-top:-30.5%;
    border-radius: 7px;
    padding:7px;
    box-shadow: 5px 5px 10px #ccc;
    background-color:#1C658C;
    color:rgba(233, 204, 41, 0.904);
}
.Calculation ul
{
    display: flex;
}
.Calculation ul li 
{
    margin-left:55px;
    padding:10px;
}

/*-------------------Graph-----------------------------------*/
.chart{
    margin-left:18%;
    border:1px solid;
    margin-top:22px;
    height:275px;
    width:565px;
    border-radius: 7px;
    padding:7px;
    box-shadow: 5px 5px 10px #ccc;
   /* background-color:#1C658C;
    color:rgba(233, 204, 41, 0.904);*/
}

/*------------------Suggestion-----------------------------*/
.suggestion
{
    border:1px solid;
    margin-left: 18%;
    margin-top:25px;
    width:600px;
    border-radius: 7px;
    padding:7px;
    box-shadow: 5px 5px 10px #ccc;
    background-color:#1C658C;
    color:rgba(233, 204, 41, 0.904);
}
.suggestion ul 
{
    display: flex;
    
}
.suggestion ul li
{
    margin-left: 14px;
    padding:7px;
}
.suggestion ul li progress
{
    border-radius:7px;
}
progress::-webkit-progress-value {
    background: rgb(224, 238, 96);
    border-radius: 7px;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
/*------------------Company-----------------------------*/
.compnay
{
    border:1px solid;
    margin-left:66%;
    margin-top:22px;
    border-radius: 7px;
    text-align: center;
    height:max-content;
    padding:7px;
    box-shadow: 5px 5px 10px #ccc;
    /*background-color:#1C658C;
    color:rgba(233, 204, 41, 0.904);*/
    background-color:rgba(45,79,117,255);
    color:rgb(211,196,151);

}

.compnay ul li 
{
    margin-top: 7px;
    margin-top: 15px;
}
.compnay ul li:hover
{
    background-color:rgba(0, 0, 0, 0.336);
    padding:5px;
    border-radius: 5px;
}
/*------------------News-Feed-----------------------------*/
/*.news
{
    border:1px solid;
    margin-top:80px;
    width:99%;
    border-radius: 7px;
    box-shadow:5px 3px 2px 1px #D8D2CB;
    color:black;
}*/
.btn{
    margin-left: 49%;
    margin-top:15px;
    padding:7px;
    
}
#buy-btn
{
    padding:7px;
    width: 75px;
    border-radius:7px;
    border-style: none;
    background-color:rgb(166, 255, 64);
    box-shadow: 5px 5px 10px #ccc;
}
#sell-btn
{
    padding:7px;
    width: 75px;
    background-color:rgb(255, 64, 64);
    border-radius:7px;
    border-style: none;
    box-shadow: 5px 5px 10px #ccc;
}
.even
{
    background-color:transparent;
    color:rgb(211,196,151);
}
.odd{
    background-color:transparent;
    color:rgb(211,196,151);
}